*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

h1{
    text-align: center;
    margin: 12px 0px;
}

.container{
    min-height: 85.5vh;
    margin-top: 9px;
}

.container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myInput{
    font-size: 16px;
    margin: 8px;
    padding: 7px;
    width: 40%;
    border: 2px solid #ad5e5e;
    border-radius: 15px;
    outline: none;
}

.btn{
    padding: 9px 27px;
    font-size: 17px;
    border: 2px solid #ad5e5e;
    border-radius: 24px;
    background: black;
    color: white;
    outline: none;
    margin-top: 9px;
    cursor: pointer;
    margin-bottom: 15px;
}